* {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
}
html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  color: #111;
  font-family: Dotum, \\B3CB\C6C0, sans-serif;
}

option {
  font-weight: normal;
  display: block;
  white-space-collapse: collapse;
  text-wrap: nowrap;
  min-height: 1.2em;
}
